<ion-view>
    <ion-nav-title>
		<img src="img/logo/topLogo.png">
    </ion-nav-title>
	<ion-pane>



		<ion-content id="mainView" has-bouncing="false">
			<div class="list list-inset">

				<div class="row notiHeader">
					<ion-slide-box does-continue="true" auto-play="true" show-pager="false" on-slide-changed="slideHasChanged($index)">
						<ion-slide ng-click="goToNoti()" ng-repeat="item in items">
							<div class="box" >
								<a class="item" href="#">
									{{item.notiSubject}}
									<span class="badge badge-assertive">{{item.notiType}}</span>
								</a>
							</div>
						</ion-slide>
					</ion-slide-box>
				</div>


				<div class="row sportsList">
					<div class="col">
						<a href="#/app/main/badminton"><img src="img/btn/bbedminton.png"></a>
					</div>
						
					<div class="col">
						<a href="#/app/main/tennis"><img src="img/btn/btennis.png"></a>
					</div>
					
				</div>
				<div class="row sportsList">

					<div class="col">
						<a href="#/app/main/baseball"><img src="img/btn/bbaseball.png"></a>
					</div>

					<div class="col">
						<a href="#/app/main/soccer"><img src="img/btn/bsoccer.png"></a>
					</div>

					
				</div>

				<div class="row sportsList">
					<div class="col">
						<a href="#/app/main/bowling"><img src="img/btn/bbowling.png"></a>
					</div>
						
					<div class="col">
						<a href="#/app/main/basketball"><img src="img/btn/bbasketball.png"></a>
					</div>
				</div>




			</div>

			<img src="img/footerAds/blue.png">

		</ion-content>

	</ion-pane>
</ion-view>
