<ion-view>


	<ion-content has-bouncing="false">

		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search">
			</label>
		</div>
		<div class="list list-inset">
			<div class="row sportsList">
				<div class="col"><a href="#/app/main/soccer">축구</a></div>
				<div class="col"><a href="#/app/main/basketball">농구</a></div>
				<div class="col"><a href="#/app/main/baseball">야구</a></div>
			</div>
			<div class="row sportsList">
				<div class="col"><a href="#/app/main/bowling">볼링</a></div>
				<div class="col"><a href="#/app/main/bedminton">배드민턴</a></div>
				<div class="col"><a href="#/app/main/tennis">테니스</a></div>
			</div>

		</div>

	</ion-content>

	<ion-slide-box class="footerAds" does-continue="true" auto-play="true">
		<ion-slide>
			<div><img class="rookieAds" src="img/footerAds/blue.png"></div>
		</ion-slide>
		<ion-slide>
			<div><img class="rookieAds" src="img/footerAds/pink.png"></div>
		</ion-slide>
		<ion-slide>
			<div><img class="rookieAds" src="img/footerAds/darkblue.png"></div>
		</ion-slide>
	</ion-slide-box>
</ion-view>
