<ion-view>

<ion-pane>
	<fab-button style="{{vStyle}}" target-id="mainView">
	</fab-button>


	<ion-content id="mainView" has-bouncing="false">
		<div class="list list-inset">



			<div class="row sportsList">
				<div class="col">
					<a href="#/app/main/bedminton"><img src="img/btn/bedminton.png"></a>
				</div>
					
				<div class="col">
					<a href="#/app/main/tennis"><img src="img/btn/tennis.png"></a>
				</div>
			</div>
			<div class="row sportsList">
				<div class="col">
					<a href="#/app/main/soccer"><img src="img/btn/soccer.png"></a>
				</div>

				<div class="col">
					<a href="#/app/main/baseball"><img src="img/btn/baseball.png"></a>
				</div>
			</div>
			<div class="row sportsList">
				<div class="col">
					<a href="#/app/main/bowling"><img src="img/btn/bowling.png"></a>
				</div>
					
				<div class="col">
					<a href="#/app/main/basketball"><img src="img/btn/basketball.png"></a>
				</div>
			</div>

			<div class="mainView">

			</div>


		</div>

	</ion-content>


<!--
	<ion-slide-box class="footerAds" style="{{vStyle}}" does-continue="true" auto-play="true" show-pager="false">

		<ion-slide>
			<div><img class="rookieAds" src="img/footerAds/blue.png"></div>
		</ion-slide>
		<ion-slide>
			<div><img class="rookieAds" src="img/footerAds/pink.png"></div>
		</ion-slide>
		<ion-slide>
			<div><img class="rookieAds" src="img/footerAds/darkblue.png"></div>
		</ion-slide>
	</ion-slide-box>
-->

</ion-pane>
</ion-view>
