/* Menu Style */

.ads {

	height: 180px;
	width: 100%;
	background-image: url("../img/menu/header.png");
	margin-top: -1px;
}

.loginHeader {
	height: 180px;
	width: 100%;
	background-image: url("../img/menu/headerB.png");
	padding-top: 20px;
	padding-left: 20px;
	margin-top: -1px;
}

.loginHeader > div > div {
	float: left;
	margin-bottom: 20px;
}

.loginHeader > div > .userIcon {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px; 
    background-color: #00C2F3;
    text-align: center;
}

.loginHeader > div> .userIcon > i {
	color: white;
	font-size: 4em;
	line-height: 80px;
}

.loginHeader > div> .userIcon > img {
	width: 100%;
	height: 100%;
	-webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px; 
    line-height: 80px;
}

.loginHeader > div > .userSetting {
	width: 40px;
	height: 40px;
	text-align: center;
	position:fixed;
	right: 0;
}

.loginHeader > div> .userSetting > i {
	color: white;
	font-size: 2.5em;
	line-height: 40px;
}

.loginHeader > .userInfo {
	clear: both;
}

.loginHeader > div > span{
	color: white;
	font-size: 1.2em;
	font-weight: bold;
}

.loginHeader > div > span.userID {

	color: white;
	font-size: 1.2em;
	font-weight: normal;

}

#menuContent > div > ion-list > div > ion-item.item {
	text-align: center;
}

.crSection{
	height: 50px;
	padding-top:10px;
}

.crSection > .badge {
	margin-left: 87.2265px;
}

.crSection > .crText {
	text-align: center;
	font-size: 0.8em;
}

/* Login Style */
.loginLink {
	margin-top: 20px;
	text-align: center;
}

label.item.item-input.item-stacked-label {
	background-color: #fff;
}

/* userSetting Style */
#userImgSetting {
	margin-top: 20px;
	text-align: center;
	margin-bottom: 40px;
}


#userImgSetting > div.userIcon {
	margin:0 auto;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px; 
    background-color: #00C2F3;
    text-align: center;
    margin-bottom: 10px;
}

#userImgSetting > div.userIcon > i {
	color: white;
	font-size: 4em;
	line-height: 80px;
}

#userImgSetting > div.userIcon > img {
	width: 100%;
	height: 100%;
	-webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px; 
    line-height: 80px;
}

#userImgSetting > div.badge {
	width: 100px;
	height: 25px;
}

/* Main Style */

.scroll-bar-indicator{
	display: none;
}

ion-content {
	background-color: #F7F7F7;
}

.list {
	background-color: #F7F7F7;
}

#mainView > div.scroll {
	height: 100%;
}

#mainView > div > div.list.list-inset {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 20px;
}

#mainView > div > div > div.row.notiHeader {
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 20px;
	background-color: #00C2F3;
	height: 60px;
	width: 100%;
}

#mainView > div > div > div.row.notiHeader > div.slider {
	margin-top: -20px;
	height: 60px;
	width: 100%;
}

#mainView > div > div > div.row.notiHeader > div.slider > div.slider-slides {
	width: 100%;
}

#mainView > div > div > div.row.notiHeader > div.slider > div.slider-slides > ion-slide.slider-slide {
	width: 100%;
}

#mainView > div > div > div.row.notiHeader > div.slider > div.slider-slides > ion-slide.slider-slide > div.box {
	height: 100%;
	width: 100%;
}

#mainView > div > div > div.row.notiHeader > div.slider > div.slider-slides > ion-slide.slider-slide > div.box > a.item {
	background-color: #00C2F3;
	border-color: #00C2F3;
	color: white;
	width: 100%;
	line-height: 40px;
	top: -7px;
}

#mainView > div > div > div.row.notiHeader > div.slider > div.slider-slides > ion-slide.slider-slide > div.box > a.item > span {
	margin-top: 9px;
	float: right;
}

.sportsList > div.col {
	height: 120px;
	padding: 10px;
	padding-left: 45px;
	padding-right: 20px;
}

.sportsList > div.col:last-child {
	height: 120px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 45px;
}

.sportsList > div.col > a {
	width: 100%;
	height: 100%;
}

.sportsList > div.col > a > img {
	width: 100%;
	height: 100%;
}

#mainView > div > img {
	width: 100%;
	bottom: 0;
	position: fixed;
}


/* Noti Style */

ion-content.notification > div > div > div.item.notiHeader {
	background-color: #D2D2D2;
	font-weight: bold;
	text-align: center;
}

/* Sports Detail Style */
#detailsView {
	background-color: #F5F4F4;
}


#subSection {
	width: 100%;
	height: 300px;
	background-color: #777777;
}

#subSection > img {
	width: 100%;
	height: 300px;
	-webkit-filter: blur(7px);
	-moz-filter: blur(7px);
	-o-filter: blur(7px);
	-ms-filter: blur(7px);
	filter: blur(7px);
	opacity: 0.5;
}

#subSection > a {
	position: relative;
	top: -300px;
	z-index: 3;
	display: inline-block;
	float: right;
	color: white;
}

#subSection > h1 {
	position: relative;
	top: -200px;
	z-index: 2;
	text-align: center;
	font-size: 2em;
	color: white;
	clear: both;
}

#detailMenu {
	width: 100%;
}

#detailMenu > div > div.col {
	text-align: center;
}

#detailMenu > div > div.tabs{
	top: 300px;
}

#detailMenu > div > div > a.tab-item {
	text-decoration: none;
}

#mainSection {
	width: 100%;
	height: 100%;
	margin-top: 49px;
	padding-top: 20px;
}

#mainSection > h3 {
	color: #444;
	text-align: center;
}

#mainSection > div.card > div.ng-binding > p {
	color: #444;
}

#mainSection > div.card > div.item > table {
	
}

#mainSection > div.card > div.item > table > tbody > tr > th {
	text-align: center;
	font-size: 0.8em;
	vertical-align: middle;
}

#mainSection > div.card > div.item > table > tbody > tr > td {
	text-align: center;
	font-size: 0.9em;
	vertical-align: middle;
}

.detailImg {
	width: 100%;
	height: 200px;
}